
body {
  width: 500px;
  margin: 4% auto;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
  font-size: 1.8rem;
  color: #ddd;
  background:
  linear-gradient(
    rgba(231, 47, 255, 0.567),
    rgba(255, 79, 217, 0.933)
  ),
}

 .calculator {
    padding: 20px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border-color: lightcoral;
    border: 10px ;
    background-color: rgb(255, 255, 255);
  }
  .input {
    border: 1px solid lightcoral;
    color: black;
    border-radius: 20px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
  }
  .input:hover {
    border: 1px solid rgb(255, 255, 255);
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  .operators div {
    display: inline-block;
    border: 1px solid lightcoral;
    border-radius: 20px;
    width: 79px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    color: #ddd;
    background-color: lightcoral;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
    color: black;
  }
  .operators div:hover {
    background-color: lightcoral;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: lightcoral;
    color: rgb(255, 255, 255);
  }
  .operators div:active {
    font-weight: bold;
  }
  .leftPanel {
    display: inline-block;
  }
  .numbers div {
    display: inline-block;
    border: 1px solid lightcoral;
    border-radius: 20px;
    width: 79px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    color: #ddd;
    background-color:lightcoral;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
    color: black;
  }
  .numbers div:hover {
    background-color: lightcoral;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: lightcoral;
    color: white;
  }
  .numbers div:active {
    font-weight: bold;
  }
  div.equal {
    display: inline-block;
    border: 1px solid lightcoral;
    border-radius: 20px;
    width: 16.7%;
    text-align: center;
    padding: 127px 10px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #ddd;
    background-color: lightcoral;
    transition: all .2s ease-in-out;
    color: black;
  }
  div.equal:hover {
    background-color: lightcoral;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.2);
    border-color: lightcoral;
    color: white;
  }
  div.equal:active {
    font-weight: bold;
  }